/* Le fond de la page */
html,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #cda54e;
    box-sizing: border-box;
    overflow: hidden;
}

/* Cadre pour la version */
.version-container {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #725c24;
    border-radius: 0 0 20px 20px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.version-text {
    color: #fff;
    font-size: 18px;
    margin: 0;
}

/* Contenu principal */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    max-height: 500px;
    height: 30vh;
    background-color: #725c24;
    border-radius: 20px;
    margin-top: 60px; /* Ajuster si nécessaire pour ne pas chevaucher le cadre de la version */
}
