/*Le fond de la page*/
html,
body {
    display: flex;
    height: 100vw;
    margin: 0;
    background-color: #cda54e;
    box-sizing: border-box;
    overflow: hidden;

    flex-direction: row;
    justify-content: center;
    text-align: center;
}