/*Le fond de la page*/
html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #cda54e;
    box-sizing: border-box;
    overflow: hidden;
}

/*Le manche*/
.manche {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    max-height: 500px;
    height: 30vh;
    background-color: #725c24;
    border-radius: 20px;
    bottom: -30%;
}

/*Les frettes*/
.frettes {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 5%;
}

/*Une frette*/
.frette {
    width: 4px;
    height: 100%;
    background-color: #ffe600;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
}

/*les voyants des cordes*/
.voyant {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    transition: background-color 0.3s;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
    pointer-events: auto;
}

/*Un voyants d'une cordes en "OFF" */
.voyant.off {
    display: none;
}

/*Un voyants d'une cordes en "STANDBY" */
.voyant.standby {
    background-color: red;
    opacity: 40%;
}

/*Un voyants d'une cordes en "ON" */
.voyant.on {
    background-color: green;
}

/*Les cordes*/
.cordes {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    margin: 0 5%;
    z-index: 9;
    pointer-events: none;
}

/*Une corde*/
.corde {
    height: 3px;
    width: 106%;
    background-color: black;
    position: relative;
}

/*Zone de texte pour l'indication de la note de chaque corde*/
.corde span {
    position: absolute;
    left: -25px;
    top: -7px;
    border-radius: 7px;
    color: black;
    background-color: #ffe600;
    font-size: 15px;
    width: 16px;
    text-align: center;
}

/*tableau des Intervalles et et Notes*/
table {
    font-size: 15px;
    border-collapse: collapse;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #725c24;
    z-index: 4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/*Entete du tableau des Intervalles et et Notes*/
caption {
    font-size: 20px;
    background-color: #725c24;
    color: black;
    border: 3px solid #ffe600;
    text-align: center;
    z-index: 5;
    border-radius: 8px 8px 0 0;
    padding: 10px;
}

/*interieur des cellules du tableau des Intervalles et et Notes*/
th,
td {
    border: 3px solid #ffe600;
    padding: 0 16px;
    text-align: center;
    z-index: 5;
}

/*menu deroulant*/
#scale-selector {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    background-color: #725c24;
    border: 2px solid #ffe600;
    padding: 5px;
    font-size: 16px;
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}