/* Styles pour le métronome */
.Metronome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw; /* Largeur relative */
    height: 25vw; /* Hauteur relative */
    max-width: 300px; /* Largeur maximale */
    max-height: 300px; /* Hauteur maximale */
    position: relative;
}

.cadran {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.2vw solid #ffffff; /* Bordure relative */
    background: conic-gradient(
        from -140deg,
        #cb09cb 120deg,
        #9b969b 280deg,
        #ff1e77 280deg,
        #ff1e77 360deg
    );
    opacity: 0.85;
}

.cercle-central {
    width: 80%;
    height: 80%;
    background: rgb(218, 112, 214);
    border: 0.2vw solid #b229b2; /* Bordure relative */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aiguille {
    width: 0.2vw; /* Taille relative */
    height: 100%;
    background: #9400D3;
    transform-origin: bottom center;
}

.bpm-value {
    font-size: 2vw; /* Taille de texte relative */
    font-weight: bold;
    color: #FFFFFF;
}

/* Styles pour le conteneur des boutons */
.button-Style {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button-Plus_Moins {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 300px; /* Largeur maximale */
}

.btn {
    background-color: hsl(309, 91%, 60%);
    font-size: 1.5vw; /* Taille de texte relative */
    transition: background-color 0.3s, transform 0.2s;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0.5vw; /* Bordures arrondies en unités relatives */
}

.btn-Plus,
.btn-Moins {
    width: 4vw; /* Taille relative */
    height: 4vw; /* Taille relative */
}

.btn-Play {
    width: 8vw; /* Taille relative */
    height: 4vw; /* Taille relative */
    margin-top: 1vw; /* Margin relative */
}

/* Hover et active pour tous les boutons */
.btn:hover {
    background-color: hsl(291, 80%, 70%);
}

.btn:active {
    transform: scale(0.95);
}
