.Tableau {
    position: absolute;
    top: 10%;
    width: 60%;
    border-collapse: collapse; /* Pas nécessaire avec flexbox, mais utile pour les tables */
}

.EntetePrincipal {
    background-color: #4f554f;
    color: white;
    text-align: center;
    padding: 1%;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
}

.Entete, .Ligne {
    display: flex;
    width: 100%;
}

.Entete > div, .Ligne > div {
   width: (100% / nombre cellule);
    padding: 1%;
    border: 1px solid #ddd;
    text-align: center;
}

.Entete > div {
    background-color: #e0e0e0;
    font-weight: bold;
}
