.version {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center; 
}

.version-bandeau {
    position: relative; 
    width: 40vw;
    height: 2vw;
    background-color: #241f3b;
    border-radius: 0 0 20px 20px;
    padding: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;

    display: flex; /* Ajout pour le centrage vertical */
    align-items: center; /* Centre le contenu verticalement */
    justify-content: center; /* Centre le contenu horizontalement */
}

.version-bandeau::before {
    content: "Version 1.0.4";
}
